<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>SSHXGui2</string>
	<key>CFBundleIdentifier</key>
	<string>com.freimann.sshXgui2</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
    <key>CFBundleIconFile</key>
    <string>sshXgui.icns</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>NSMainNibFile</key>
	<string>SSHXGui</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
    <key>NSAppleEventsUsageDescription</key>
    <string>hello sshXgui</string>
</dict>
</plist>
